black==21.11b0
cookiecutter==1.7.3
flake8==4.0.1
ghp-import==2.0.2
isort==5.10.1
jupyter-book==0.12.1
jupyterlab==3.2.4
matplotlib==3.5.0
mypy==0.910
numpy==1.21.4
requests==2.26.0
rope==0.22.0
scipy==1.7.3
types-requests==2.26.1
